#quizBody {

}

#sectionTitle {
  font: 20pt bold;
}

#timer {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 25pt;
}

button#start{
    height: 60px;
    width: 120px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 20%;
    font-size: 1.5em;
    background-color: tomato;
    border: none;
    color: #fdfdfd;
    cursor: pointer;
  }

  button.answer{
    height: 60px;
    width: 120px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 20%;
    font-size: 1.5em;
    background-color: purple;
    border: none;
    color: #fdfdfd;
    cursor: pointer;
  }